
/* preloader */
.hidden {
    overflow: hidden;
  }
  
  .centrado {
  
    height: 100vh;
    background-color: rgba(22, 1, 41, 0.795);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .lds-hourglass {
    display: inline-block;
    position: reladtive;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 8px;
    
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  

html{
    background-image: url("./ganamos.jpg");
    background-size: 100%;
    background-color: rgb(24, 12, 39);
    background-repeat: no-repeat;
    object-fit: cover;
    scroll-behavior: auto;
}
body{ 
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
   
   
    margin-top: 20%;
    width: 100%;
    margin-bottom: 15%;
    
    text-align: center;


}
.header-text1{
    color: #fff;
    font-size: 6dvw;
}

.header-text2{
    color: #face08;
    font-style: italic;
    font-size: 6dvw;
    padding-top: 0;
    margin-top:0;
}
.contenedor-1{
    width: 100%;
    text-align: center;
}
.contenedor-1-text{
    color: #fff;
    margin: 2%;
    font-size: 3dvw;
}

.contenedor-2{
    width: 100%;
    text-align: center;
}
.contenedor-2-text{
    color: #fff;
    font-size: 10dvw;
    margin: 4%;
    margin-bottom: 0;
}
.contenedor-3{
    width: 100%;
    text-align: center;
}
.contenedor-3-text{
    color: #fff;
    font-size: 3dvw;
    margin-top: 1%;
    margin-bottom: 0%;
}

.contenedor-4{
    width: 100%;
    text-align: center;
}
.contenedor-4-text{
    color: #fff;
    font-size: 8dvw;
    margin-top: 0%;
    margin-bottom: 0;

}

.contenedor-5{
    width: 100%;
    text-align: center;
}
.contenedor-5-text{
    color: #fff;
    font-size: 3dvw;
    margin-top: 1%;
    margin-bottom: 0%;

}
.contenedor-6{
    width: 100%;
    text-align: center;
}
.contenedor-6-text{
    color: #fff;
    font-size: 7dvw;
    margin: 3%;
    margin-bottom: 0;

}

.contenedor-7{
    width: 100%;
    text-align: center;
}
.contenedor-7-text{
    color: #fff;
    font-size: 3dvw;
    margin-top: 1.5%;
    margin-bottom: 0%;

}

.contenedor-8{
    width: 100%;
    text-align: center;
}
.contenedor-8-text{
    color: #fff;
    font-size: 8dvw;
    margin-top: 4%;
    margin-bottom: 0;

}


.contenedor-9{
    width: 100%;
    text-align: center;
}
.contenedor-9-text{
    color: #fff;
    font-size: 3dvw;
    margin-top: 5%;
    margin-bottom: 0;

}
.contenedor-10{
    width: 100%;
    text-align: center;
}
.contenedor-10-text{
    color: #fff;
    font-size: 3dvw;
    margin-top: 10%;
    
    margin-bottom: 10%;

}
.contenedor-11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: auto;
}
.contenedor-11-text{
    color: #fff;
    font-size: 3dvw;
  
    text-decoration-style: none;
 
    width: 40dvw;
    margin-bottom: 10%;
    border-radius: 50px;
    background: #1AAB8A;
    outline: none;

}
.contenedor-11-text a{
     margin-bottom: 70px;
    text-decoration: none;
    font-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
}

